.user-card {
    :hover {
        background-color: #e4e4e4;
        cursor: pointer;
    }
    .employee-name {
        font-size: 18px;
    }
    
    .employee-id {
        font-size: 14px;
    }
}

